<main class="bg-gray-100 py-10">
  <div class="flex justify-center mb-8">
    <a class="mx-5" href="/main/<%= user.id%>/topup">
      <div
        class="bg-white rounded-lg shadow-md p-4 flex items-center space-x-4"
      >
        <div class="text-left">
          <p class="text-gray-500">Balance</p>
          <p class="text-xl font-bold">
            Rp.<%= formatCurrency(user.balance[0].walletBalances)%>
          </p>
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
            id="wallet"
            class="w-10 h-10"
          >
            <path
              fill="#58bf97"
              d="M6.1 23.8v-19c0-1.1.9-2 2-2h10l-1.3 4-6.9 14.1-3.8 2.9z"
            ></path>
            <path
              fill="#38a378"
              d="M17 6.8h-4c0 1.7-1.3 3-3 3v11h3.1l3.9-14z"
            ></path>
            <path
              fill="#58bf97"
              d="m13 20.6 2-5.9 2-6 2-6.3c.3-1 1.5-1.6 2.5-1.3l17.1 5.7c1 .3 1.6 1.5 1.3 2.5l-3.8 11.4"
            ></path>
            <path
              fill="#a15b4c"
              d="M38 20.9H10c-2.2 0-4 1.8-4 4v18c0 2.2 1.8 4 4 4h28c2.2 0 4-1.8 4-4v-18c0-2.2-1.8-4-4-4z"
            ></path>
            <path
              fill="#fec367"
              d="M41 40.9h-8.1c-2.2 0-3.9-1.8-3.9-4s1.7-4 3.9-4H41"
            ></path>
            <path
              fill="#010101"
              d="M17.2 21.8c-.1 0-.2 0-.3-.1-.5-.2-.8-.7-.6-1.3L20.4 8c.2-.5.7-.8 1.3-.6 1 .3 2.2-.2 2.5-1.3.1-.3.3-.5.5-.6.2-.1.5-.1.8-.1l7.6 2.5c.5.2.8.7.6 1.3-.3 1 .2 2.2 1.3 2.5.3.1.5.3.6.5.1.2.1.5.1.8l-2.6 8c-.2.5-.7.8-1.3.6-.5-.2-.8-.7-.6-1.3l2.4-7.1c-1.2-.8-1.9-2.2-1.8-3.6l-5.9-2c-.8 1.2-2.2 1.9-3.6 1.8l-3.8 11.5c-.5.6-.9.9-1.3.9z"
            ></path>
            <path
              fill="#38a378"
              d="m31.9 20.8 2.6-8c-1.6-.5-2.4-2.2-1.9-3.8L25 6.5c-.5 1.6-2.2 2.4-3.8 1.9l-.2.7-2 5.9-1.9 5.8"
            ></path>
            <circle
              cx="27.3"
              cy="12.5"
              r="2"
              fill="#060707"
              transform="rotate(-71.652 27.252 12.543)"
            ></circle>
            <circle cx="33" cy="36.8" r="1" fill="#060707"></circle>
            <path
              fill="#060707"
              d="M38 19.8h-.5l3.4-10.1c.3-.8.2-1.6-.2-2.3-.4-.7-1-1.3-1.7-1.5L21.9.2c-.8-.2-1.6-.2-2.3.2-.6.3-1.1.8-1.4 1.4H8c-1.7 0-3 1.4-3 3l.1 19v.1c-.1.3-.1.6-.1.9v18c0 2.8 2.2 5 5 5h28c2.8 0 5-2.2 5-5v-18c0-2.8-2.2-5-5-5zm-18-17c.1-.3.3-.5.5-.6.2-.1.5-.2.7-.1l17.1 5.7c.3.1.5.3.6.5.1.2.1.5 0 .7l-3.6 10.8h-2.1l2.2-6.6c.1-.3.1-.5-.1-.8-.1-.2-.3-.4-.6-.5-1-.3-1.6-1.5-1.3-2.5.2-.5-.1-1.1-.6-1.3l-7.6-2.5c-.3-.1-.5-.1-.8.1-.2.1-.4.3-.5.6-.3 1-1.5 1.6-2.5 1.3-.5-.2-1.1.1-1.3.6l-3.9 11.7h-2.1L20 2.8zm11.2 17H18.5l3.4-10.2c1.4.1 2.8-.6 3.6-1.8l5.9 2c-.1 1.4.6 2.8 1.8 3.6l-2 6.4zm-19 0H11v-9.1c1.4-.4 2.5-1.5 2.9-2.9h2.3l-4 12zM8 3.8h9.5l-.7 2H13c-.3 0-.5.1-.7.3-.2.2-.3.4-.3.7 0 1.1-.9 2-2 2-.6 0-1 .4-1 1v10.1c-.7.1-1.4.5-2 .9v-16c0-.5.4-1 1-1zm33 36h-8.1c-1.6 0-2.9-1.3-2.9-3s1.3-3 2.9-3H41v6zm0-8h-8.1c-2.7 0-4.9 2.2-4.9 5s2.2 5 4.9 5H41v1c0 1.7-1.3 3-3 3H10c-1.7 0-3-1.3-3-3v-18c0-1.7 1.3-3 3-3h28c1.7 0 3 1.3 3 3v7z"
            ></path>
          </svg>
        </div>
      </div>
    </a>
  </div>
  <div class="container mx-auto">
    <div class="bg-gray-300">
      <div class="relative">
        <div class="w-full h-96 bg-gray-200">
          <img
            src="/img/home-page-banner.png"
            alt="Banner Image"
            class="w-full h-full object-cover"
          />
          <span
            class="absolute left-4 top-1/2 transform -translate-y-1/2 text-black text-6xl font-bold"
          >
            From Desktop To Your Door
          </span>
        </div>
      </div>
    </div>

    <!-- Top Stores Section -->
    <div class="mt-8 px-4">
      <% categoryList.forEach(category => { %>
      <div class="mt-8">
        <h3 class="text-3xl font-bold mb-4 capitalize">
          <%= category.charAt(0).toUpperCase() + category.slice(1) %>
        </h3>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
        >
          <% const categoryProducts = categorizedProducts[category]; if
          (categoryProducts && categoryProducts.length > 0) { %> <%
          categoryProducts.forEach(product => { %>
          <div class="group text-center">
            <a
              href="/main/<%= user.id%>/store/<%= product.id%>/<%= product.category%>"
            >
              <div
                class="border border-gray-300 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 p-4"
              >
                <div
                  class="mx-auto w-32 h-32 bg-gray-200 flex items-center justify-center rounded-lg overflow-hidden relative mb-4"
                >
                  <img
                    src="<%= product.thumbnail %>"
                    alt="product Image"
                    class="object-cover w-full h-full rounded-lg group-hover:scale-105 transition-transform duration-300"
                  />
                </div>

                <p class="mt-2 font-semibold text-gray-800">
                  <%= product.title %>
                </p>
                <p class="mt-2 font-semibold text-gray-800">
                  <%= priceToIdr(product.price * 16000) %>
                </p>

                <p class="text-sm text-gray-600">
                  <i class="fas fa-star text-yellow-500"></i> <%=
                  product.category.replace(/\-/g, ' ').split(' ').map(word =>
                  word.charAt(0).toUpperCase() +
                  word.slice(1).toLowerCase()).join(' ') %>-<%= product.rating
                  || 'N/A' %> ⭐
                </p>
              </div>
            </a>

            <div class="mt-4">
              <button
                type="button"
                class="w-full py-2 px-4 flex justify-center items-center text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 focus:outline-none focus:bg-green-700 disabled:opacity-50 disabled:pointer-events-none"
                data-product-id="<%= product.id%>"
                onclick="addToCartHome(this)"
              >
                <svg
                  class="shrink-0"
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m5 11 4-7"></path>
                  <path d="m19 11-4-7"></path>
                  <path d="M2 11h20"></path>
                  <path
                    d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8c.9 0 1.8-.7 2-1.6l1.7-7.4"
                  ></path>
                  <path d="m9 11 1 9"></path>
                  <path d="M4.5 15.5h15"></path>
                  <path d="m15 11-1 9"></path>
                </svg>
                <span class="ml-2">Add to Cart</span>
              </button>
            </div>
          </div>

          <% }) %> <% } else { %>
          <p class="col-span-6 text-center text-gray-500">
            No products available in this category.
          </p>
          <% } %>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</main>
